{% extends 'base.html' %}
{% block style %}
    <style type="text/css">
        html, body {
            height: 100%;
            font-family: 'Playfair Display', serif;
            background-color: #ddd;
        }
        .login-form-container {
            width: 300px;
            margin: auto;
        }
        .registration-form-container {
            width: 400px;
            margin: auto;
        }
        .outer-area {
            margin-top: 100px;
        }
        .auth-box {
            width: 50%;
            margin: auto;
            background-color: #fff;
            border-radius: 1.5rem;
            padding: 1rem;
        }
    </style>
{% endblock style %}
{% block content %}
    <div class="outer-area">
        <div class="auth-box text-center">
            {% block auth %}{% endblock auth %}
        </div>
    </div>
{% endblock content %}